<div class="media align-items-center w100 justify-content-around mb-3">
  <div class="mr-3">1.</div>
  <div class="text-center mr-3">
    <a class=" d-block updoot-arrow" href="#"></a>
    <div class="post-smaller">42</div>
  </div>
  <div class="media-body">
    <strong><%= post.title %></strong><span class="text-muted post-smaller ml-3">(lipsum.com)</span>
    <div class="text-muted post-smaller">5 hours ago by TestUser | 42 comments</div>
  </div>
</div>