.updoot-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #c9c9c9 transparent;
}

.post-smaller {
  font-size: smaller;
}